@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}

body {
    font-family: 'Amatic SC', cursive;
    background-color: #142a4b;
    color: white;   
    min-height: 100vh; 
}

header {
    text-align: center;
    margin: 0 auto;
    position: relative;
    /* background-color: rgb(63, 150, 117); */
   
    
}
header::after {
    content: "";
    background: url(./imgs/animals-silhouettes-vector-free-pattern5.png);
    background-repeat: repeat;
    background-size: 300px;
    background-position: center;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

h1 {
    font-size: 2em;
    line-height: 2em;    
}
h2 {
    font-size: 8em;
    margin-bottom: 0.3em;
        -webkit-text-stroke: 2px black;
    color: white;
    line-height: 0.5;
}
p {
    line-height: 1em;
    font-size: 2em;
}
img {
    opacity: 1;
    cursor: pointer;
    max-width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}


.buttons {
    margin: 0 auto;
    margin-top: 1em;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    background-color: beige;
    align-items: center;
}
button {
    margin: 0 2em;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6em;
    padding: 0.5em 2em;;
    border-radius: 22px;
    border: none;
    background-color: rgb(155, 220, 195);
    color: white;
    outline-style: none;
    text-transform: uppercase;
    transition: background-color 50ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 2.2px 2.2px 0px rgba(0,0,0,0.56);

}

button.reset {
    background-color: rgb(242, 158, 158);
    padding: 1.5em 2em
}
button.reset:hover {
    background-color: rgb(237, 80, 80);;
}

button:hover {
    background-color: rgb(63, 150, 117);
}

.buttonSelected {
    background-color: rgb(44, 116, 88);
    box-shadow: 0px 0.6px 0.6px 0px rgba(0,0,0,0.56);
}
.clicked {
    box-shadow: 0px 0.6px 0.6px 0px rgba(0,0,0,0.56);

}
.buttonSelected:hover {
    background-color: rgb(44, 116, 88);
    cursor: default;
}

main {
    display: flex;
    position: relative;    
    max-width: 1150px;
    margin: 3.8em auto;
    margin-bottom: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

.displayMessageTryAgain {
    display: none;
    position: absolute;
    font-size: 2.5em;
    font-weight: bold;
    left: 20%;
    top: 12%;
    text-align: center;
    padding: 0.5em 0.6em;
    margin: 0 auto;
}
.winner {
    font-size: 2.8em;
    font-weight: 600;
    display: none;
    margin-top: -0.9em;
}
.wrapper {
    transform: rotate(-2deg);
    position: absolute;
}

.card { 
    position: relative;
    margin: 15px;
    width: 200px;
    height: 200px;
    background-color: #142a4b;
}
.fadeOut {
   opacity: 0;
   transition: opacity 150ms;
   cursor: default;
}
.shake-vertical {
	-webkit-animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-11 9:8:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
 @-webkit-keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
    80% {
      -webkit-transform: translateY(6.4px);
              transform: translateY(6.4px);
    }
    90% {
      -webkit-transform: translateY(-6.4px);
              transform: translateY(-6.4px);
    }
  }
  @keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
    80% {
      -webkit-transform: translateY(6.4px);
              transform: translateY(6.4px);
    }
    90% {
      -webkit-transform: translateY(-6.4px);
              transform: translateY(-6.4px);
    }
  }

.pulsate-fwd {
	-webkit-animation: pulsate-fwd 0.5s ease-in-out 3 both;
            animation: pulsate-fwd 0.5s ease-in-out 3 both;

}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-11 9:16:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);

    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);

    }
  }
  @keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);


    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);


    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);


    }
  }
  













